page-registro {
  #borderimg {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    padding: 15px 5px;
    border-image-source: url(../../assets/imgs/borde.png);
    border-image-slice: 18.5%;
    border-image-width: 12.5px;
    //border-image-outset: 5px;
    border-image-repeat: round;
  }

.inputc{

    margin-bottom: 0px;
    margin-top: 0px;
  }
}
