page-darumas-gral {
  .item-inner {
    background-color: #d7fCCE;
  }
  .item-md {
    background-color: #d7fCCE;
  }
  .item-ios{
    background-color: #d7fCCE;
  }
  .item-wp{
    background-color: #d7fCCE;
  }
  ion-thumbnail{
    background-color: #d7fCCE;
  }
}
